%h1 New Badge
.row
  = render partial: 'steps', locals: { step: 2 }
.row
  .col-xs-12.col-sm-4
    = render partial: 'form', locals: { badge: @badge,
      options: { input_html: { readonly: :readonly } },
      checkbox_options: { input_html: { disabled: :disabled } } }
  .col-xs-12.col-sm-4
    #camerabox
      #camera
      .status
      %button.btn.btn-primary.take-snapshot{ onclick: "takeSnapshot()" } Take
      %button.btn.btn-default.retake-snapshot.hidden{ onclick: "discardSnapshot()" } Retake
      %button.btn.btn-primary.use-snapshot.hidden{ onclick: "useSnapshot()", data: { url: snapshot_badge_url(@badge, format: :json) } } Use
      #upload_response
    #cropbox.hidden
      %img
      .status
      %button.btn.btn-primary.retake2-snapshot.hidden{ onclick: "discardSnapshot()" } Retake
      %button.btn.btn-primary.crop-snapshot.hidden{ onclick: "cropSnapshot()", data: { url: crop_badge_url(@badge, format: :json), disable_with: 'Working...' }}
        - if ENV["AUTO_PRINT"].blank? || ENV["AUTO_PRINT"] == "true"
          Crop & Print
        - else
          Crop

%script
  $(document).ready(startCamera);
  $(document).on('page:load', startCamera);
