%h1 New Badge
.row
  = render partial: 'steps', locals: { step: 1 }
.row
  .col-xs-12
    - if @badge.new_record?
      .lookup-form
        = simple_form_for :lookup, url: lookup_url(format: :json), remote: true, html: { class: "form-inline lookup-form" } do
          .form-group
            %label{for: "employee_id"} Employee ID
            %input.form-control.required{type: "text", name: "id", id: "employee_id"}
            %button.btn.btn-default.lookup-employee{ data: { disable_with: "<i class='fa fa-spin fa-spinner'></i> Looking...".html_safe }}
              %i.fa.fa-search
              Lookup
        .lookup-status
    = render partial: 'form', locals: { badge: @badge, options: {}, checkbox_options: {} }
