<h1>User</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class="form-actions">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>
  <%= link_to 'Back', users_path, class: 'btn btn-default' %>
</div>
