%h1 User

%p
  %strong Name:
  = @user.name

%p
  %strong Email:
  = @user.email

.form-actions
  = link_to 'Edit', edit_user_path(@user), class: 'btn btn-default'
  = link_to 'Back', users_path, class: 'btn btn-default'
