= render partial: 'details', locals: { side: @side }
= render partial: 'artifact_details', locals: { side: @side }

.form-actions
  = link_to 'Edit Side', edit_side_path(@side), class: "btn btn-default"
  = link_to 'Back', sides_path, class: "btn btn-default"
