/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'jquery.Jcrop';

@import 'artifacts';
@import 'badges';
@import 'designs';
@import 'properties';
@import 'sides';
@import 'users';

.btn {
  margin-bottom: .25em;
  margin-right: .25em;
}

a.navbar-brand {
  padding-top: 2px;
  padding-bottom: 0;
  
  img {
    max-width: 60px;
    max-height: 60px;
    border: solid 1px $gray-light;
    border-radius: 50%;
  
    opacity: .75;
    -ms-transform: rotate(-14deg); /* IE 9 */
    -webkit-transform: rotate(-14deg); /* Chrome, Safari, Opera */
    transform: rotate(-14deg);    
  }
}
