// Place all the styles related to the badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#camera, div#snapshot {
  width: 300px;
  height: 400px;
  border: solid 1px gray;
  margin-bottom: .25em;
}

div#cropbox > .jcrop-holder {
  border: solid 1px gray;
  margin-bottom: .25em;
}

div#snapshot {
  img {
    max-width: 300px;
    max-height: 400px;
  }
}

div.employee-info {
  h1, h2, h3, h4 { margin: 0; margin-bottom: .25em; }
  margin: 1em .5em;
}

div#preview {
  display: inline-block;
  background-color: #ccc;
  padding: 8px;
}

div#preview img {
  max-width: 318px;  // .629629
  max-height: 200px;
  border-radius: 6px;
}