// Place all the styles related to the badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#camera, div#snapshot {
  width: 300px;
  height: 400px;
  border: solid 1px gray;
  margin-bottom: .25em;
}

div#cropbox > .jcrop-holder {
  border: solid 1px gray;
  margin-bottom: .25em;
}

div#snapshot {
  img {
    max-width: 300px;
    max-height: 400px;
  }
}

div.employee-info {
  h1, h2, h3, h4 { margin: 0; margin-bottom: .25em; }
  margin: 1em .5em;
}

div#preview {
  display: inline-block;
  background-color: $state-info-bg;
  padding: 4px;
}

div#preview img {
  max-width: 318px;  // .629629
  max-height: 200px;
  border-radius: 6px;
}

.lookup-form {
  background-color: #ededed;
  padding: .25em;

  .lookup-status {
    font-style: italic;
    color: #ee0000;
  }
}

div.lookup-form {
  margin-bottom: .75em;
}

.steps-bar {
  height: 3em;
  margin-bottom: 1em;
 
  ul.steps {
    list-style-type: none;
    font-size: .9em;

    li {
      float: left;
      margin: 0;
      display: table;

      .item {
        display: table-cell;
        height: 2em;
        background-color: $gray-lighter;
        vertical-align: middle;
        text-transform: uppercase;
        padding: .5em;
        color: $gray-light;
        font-weight: bold;
      }

      .arrow-right {
          width: 0;
          height: 0;
          border-top: 1.5em solid transparent;
          border-bottom: 1.5em solid transparent;
          border-left: .5em solid $gray-lighter;
          display: inline-block;
          float: left;
      }

      .arrow-in {
          width: 0;
          height: 0;
          border-top: 1.5em solid transparent;
          border-bottom: 1.5em solid transparent;
          border-left: .5em solid #FFF;
          display: inline-block;
          float: left;
          background-color: $gray-lighter;
      }
    }

    li.step-active {
      .item {
        background-color: $state-success-bg;
      }
      .arrow-right {
        border-left: .5em solid $state-success-bg;
      }
      .arrow-in {
        background-color: $state-success-bg;
      }
    }
  }
}
